button{
    background-color: #387ed1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 20px
}

.navbar{
    display: flex;
    justify-content: end;
    gap: 20px; 
    margin-top: 10px;  
}

header{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

